<mat-toolbar color="primary">
  <span>Github Profile Viewer</span>
</mat-toolbar>
    <div class="Body" style="max-width:400px; margin: 10px auto;">
     
       <mat-form-field class="user input" style="width:100%">
            <input matInput placeholder=" Github User Name" [(ngModel)]="username" (keyup.enter)="search()">
       </mat-form-field>
            <br>
      
       <button mat-raised-button color="primary" (click)="search()">Find me</button>
    
       <mat-spinner *ngIf="isloading"></mat-spinner>

       <mat-toolbar color="warn" *ngIf="errormsg">
    
          <span>User Not Found</span>
    
       </mat-toolbar>
    <div  *ngIf="imgcard">

      <mat-card class="card">

        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title >{{response.name}}</mat-card-title>
            <mat-card-subtitle>company:{{response.company}}</mat-card-subtitle>
         </mat-card-header>

         <img mat-card-image src="{{response.avatar_url}}" alt="photo of a Shiba Inu">
      
      
         <mat-card-actions>
              <a href={{response.html_url}} target="blank"> <button mat-raised-button color="primary">Go To GitHub</button></a>
         </mat-card-actions>
    
    </mat-card>

    </div>
  </div>

